.answer-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    text-align: center;
      width: 90%;
      gap: 5px;
  }
  
  @media (max-width: 600px) {
    .answer-container {
      flex-direction: column;
      width: 90%;
      gap: 5px;
      top: 70%;
    }
  }

  